* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenitore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

#container-password {
  width: 600px;
  height: 300px;
  display: flex;
}

.emoticon{
  display: flex;
}

#password {
  background-color: white;
  color: red;
}

#contenitore {
  display: none;
}

#contenitore.visibile {
  display: flex;
}
